@font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/sofia_pro/Sofia\ Pro\ Light\ Az.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sharp Sans';
    src: url('./fonts/sharp_sans/Sharp\ Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sharp Sans';
    src: url('./fonts/sharp_sans/Sharp\ Sans.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sharp Sans';
    src: url('./fonts/sharp_sans/Sharp\ Sans\ Semibold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
    @font-face {
    font-family: 'Poppins';
    src: url('./fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/sofia_pro/Sofia\ Pro\ Medium\ Az.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }


  @font-face {
    font-family: 'Sharp Sans';
    src: url('./fonts/sharp_sans/SharpSansBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
